body {
    font-family: Verdana, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

.video-container {
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically, if needed */
    margin: 20px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns */
    gap: 20px; /* Adds space between the columns */
}

.grid-container h3 {
    margin-bottom: 10px;
}

.grid-container ul {
    list-style-type: none;
    padding-left: 0;
}

