body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f6fa;
}

.menu-toggle {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    color: #2d3748;
    font-size: 24px;
    cursor: pointer;
}


.inbox-container {
    display: flex;
    height: 100vh;
}





/* SIDEBAR */
.sidebar {
    width: 200px;
    background-color: #2d3748;
    padding: 20px;
    color: white;
    transition: transform 0.3s ease;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #4a5568;
}

.sidebar ul li:hover {
    background-color: #4a5568;
}




/* EMAIL */
.email-container {
    flex-grow: 1; 
    background-color: white;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.email-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 90%;
}

.sender, .subject, .snippet {
    font-size: 18px;
    line-height: 1.25;
}

.sender {
    font-weight: bold;
    color: #333;
}

.subject {
    color: #555;
}

.snippet {
    font-size: 18px;
    color: #777;
    white-space: normal; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.email-date {
    font-size: 12px;
    color: #999;
    align-self: flex-start;
    padding-left: 10px;
    text-align: right;
}

.email-icons {
    display: flex;
    gap: 20px; 
    opacity: 100;
    transition: opacity 0.3s ease; 
    margin-bottom: 5px;
}

.email-icons i {
    font-size: 18px;
    color: #999;
    cursor: pointer;
}

.email-icons i:hover {
    color: #333;
}




/* UNDO */
.undo-popup {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

.undo-popup p {
    margin: 0;
}

#undoButton {
    color: #ffcc00;
    cursor: pointer;
    font-weight: bold;
}



/* MEDIA QUERIES */

@media (max-width: 1500px) {
    .snippet {
        white-space: nowrap;  
        overflow: hidden;     
        text-overflow: ellipsis;
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .menu-toggle {
        display: block;
    }
}