/* Header start */
header {
    padding: 10px 20px;
    background-color: #0078d4;
    text-align: right;
}

header img {
    max-width: 30px;
    height: auto;
}

footer {
    padding: 10px 40px;
    background-color: #0078d4;
    width: 100%;
    position:absolute;
    bottom: 0px;
    left: 0px;
    box-sizing: border-box;
}
/* Header end */



body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f6fa;
    color: #3a3a3a;
}



/* Sidebar START*/
.sidebar-container {
    width: 200px;
    background-color: #003060;
    color: #fff;
    padding: 20px;
    float: left;
    height: 85vh;
}

.sidebar-container h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.sidebar-container ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-container li {
    padding: 10px 0;
    cursor: pointer;
}
/* Sidebar END*/



/* Email Grid */
.email-grid-wrapper {
    margin-left: 210px;
    padding: 20px;
}

.email-grid {
    display: grid;
    flex-direction: column;
    grid-template-columns: 20px 20px 100px 300px 650px 100px;
    padding: 10px 10px;
    gap: 17px;
}

.email-row {
    display: contents;
    padding: 10px 10px;
    position: relative;
    transition: order 0.5s ease;
}


.email-row:hover {
    background-color: #505050;
}

.slide-to-trash {
    opacity:0;
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    pointer-events: none;
}

.hidden-row {
    /* visibility: hidden; */
    display: none;
    opacity: 0;
    pointer-events: none;
}



/* PINNED EMAIL ACTIVE STATE START*/
.fa-thumbtack {
    color: #ccc;
    transition: color 0.2s ease;
}

.fa-thumbtack.active {
    color: #0078d4; 
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {   
        transform: translateY(-10px); 
    }
}

.jump {
    animation: jump 0.3s ease;
}
/* PINNED EMAIL ACTIVE STATE END*/


/* Icons - hidden by default, visible on hover; positioning in place of the date START -----------------------------------------------------*/
.email-row:hover .icon-container {
    display: flex;
}

.email-row:hover .date {
    display: none;
}

.icon-container {
    display: none;
    gap: 20px;
    grid-column: 6;
    justify-content: flex-start;
}


.icon-container i {
    font-size: 18px;
    color: #999;
    cursor: pointer;
}

.icon-container i:hover {
    color: #0078d4;
}

.icon-container .fa-thumbtack:active {
    transform: scale(0.9);
}

.icon-container .fa-flag:active {
    transform: scale(0.9);
}

.icon-container .fa-envelope-open:active {
    transform: scale(0.9);
}

.icon-container .fa-trash:active {
    transform: scale(0.9);
}

/* Icons - hidden by default, visible on hover; positioning in place of the date END -----------------------------------------------------*/

/* Undo Popup START*/
.undo-popup {
    position: fixed;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    z-index: 800;
    text-align: center;
}

@keyframes slideUp {
    0% {
        bottom: -100px;
        opacity: 0;
    }
    100% {
        bottom: 20px;
        opacity: 1;
    }
}

.undo-popup.show {
    animation: slideUp 0.5s ease forwards;
    opacity: 1;
}

.undo-popup #undoButton {
    color: #8abeff;
    cursor: pointer;
    font-weight: bold;
}
/* UNDO POPUP EMAIL END */

/* Checkbox + Star Start*/
.email-grid input[type="checkbox"] {
    margin: 0;
    cursor: pointer;
    transition: color 0.5s ease;
}


/* CHECKBOX */

.email-grid-wrapper .fa-star-o {
    outline: #999;
    cursor: pointer;
    transition: color 0.5s ease;
}

.email-grid-wrapper .fa-star-o.active {
    color: #f0c420;
}

.email-grid-wrapper .fa-star.active {
    color: #f0c420;
    cursor: pointer;
    transition: color 0.5s ease;
}

/* Checkbox + Star End*/

/* Container for the checkbox */
.slayCheckbox {
    cursor: pointer; 
    justify-content: center;
}

.slayCheckbox input {
    display: none;
}

.slayCheckbox span {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 2px solid #999; 
    border-radius: 3px;
    box-sizing: border-box;
    overflow: hidden;
}

.slayCheckbox span i {
    width: 20px; 
    height: 20px; 
    margin-left: 2px;
    transform: rotate(-45deg) translateX(0%) translateY(0%) scale(0.8);
    transform-origin: center left;
}

/* Checkmark lines */
.slayCheckbox span i:before,
.slayCheckbox span i:after {
    content: "";
    position: absolute;
    background-color: white;
    border-radius: 20px; 
}

  /* Vertical line of the checkmark */
.slayCheckbox span i:before {
    height: 0%;
    top: 50%;
    left: 0;
    width: 2px; 
}

  /* Horizontal line of the checkmark */
.slayCheckbox span i:after {
    width: 0%; 
    bottom: 0;
    left: 0;
    height: 2px;
}

  /* Checked state styles */
.slayCheckbox input:checked ~ span {
    border: none;
    background-color: #2979FF;
}

  /* Vertical checkmark line animation on check */
.slayCheckbox input:checked ~ span i:before {
    height: 50%;
    transition: height 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

  /* Horizontal checkmark line animation on check */
.slayCheckbox input:checked ~ span i:after {
    width: 100%;
    transition: width 300ms 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
/* CHECKBOX END */

.sender,
.subject,
.snippet,
.date {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}