/* Universal styling */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f6fa;
    color: #636363;
    text-align: center;
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    background-color: #f5f6fa;
    color: #6d6d6d;
    text-align: center;
    font-weight: 800;
}

h2{
    margin-bottom: 0px;
}

h3{
    margin: 0;
}

h4{
    text-align: left;
}

ul {
    margin-left: 0; 
    text-align: left;
}

li {
    padding-left: 10px; 
    line-height: 1.25;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px 0;
}

/* head to outlook */
a.styled-link {
    background-color: #0078D4;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

a.styled-link:hover, 
a.styled-link:focus {
    background-color: #005a9e; 
    text-decoration: underline; 
}


/* Header styling */
header {
    padding: 10px 20px;
    background-color: #0078d4;
    text-align: right;
}

header img {
    max-width: 30px;
    height: auto;
}



/* MICROINTERACTION ANALYSIS GRID START*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 40px;
}

.grid-container div {
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* MICROINTERACTION ANALYSIS GRID END*/

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 6fr);
    gap:20px;
    padding: 10px 40px 40px 40px;
}

.image-container div {
    border: 1px solid #e9e9e9;
    padding: 20px;
}

.image-container img{
    max-width: 100%;
    border-radius: 10px;

}


footer {
    padding: 30px 40px;
    background-color: #0078d4;
}

/* Responsive Design */
@media (max-width: 900px) {
    .inbox-container {
        flex-direction: column;
        align-items: center;
        padding:0;
        margin-bottom: 10px;
        max-width: 100%;
    }

    .sidebar {
        margin-bottom: 20px;
        display: block;
        padding:0px;
        margin-right: 0px;
    }


    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 10px;
    }

    .image-container {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 10px;
    }
}

@media (max-width: 650px) {
    
    h3{
        visibility: hidden;
    }
    
    .inbox-container {
        max-width: 100%;
    }

    .sidebar {
        padding: 15px;
        font-size: 14px;
    }

    .email-container {
        padding: 15px;
    }

    .email-icons i {
        font-size: 16px;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 10px;
    }

    .image-container {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 10px;
    }
}
